<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= cl_image_path @background %>')">
  <div class="container">
    <div class="contain">
      <h1>OhMyWatch <strong>add style</strong> to <strong>your outfit.</strong></h1>
      <p>Change your watch as soon as you want.</p>
    </div>
  </div>
</div>
<%= link_to 'New', new_watch_path, class: 'book_now' %>
<div class="container">
  <div class="row d-flex justify-content-between">
    <% @bookings.each do |booking|  %>
      <div class="card3">
        <% if booking.watch.photo.attached? %>
          <%= link_to (cl_image_tag booking.watch.photo.key, height: 300, width: 400, crop: :fill), watch_path(booking.watch) %>
          <% else %>
          <%= link_to (cl_image_tag 'https://cdn.shopify.com/s/files/1/0314/1333/products/Slider-horizon-montre-homme-chronographe-charlie-paris-6_2000x.jpg?v=1620225946', height: 300, width: 400, crop: :fill), watch_path(booking.watch) %>
        <% end %>
        <h1 class="booking-text"><%= booking.watch.model %></h1>
        <p class="start_date"><%= booking.start_date %></p>
        <p class="end_date"><%= booking.end_date %></p>
        <% total_price = booking.watch.price * (booking.end_date - booking.start_date + 1) %>
        <p class="total_price"><%= total_price.to_f %>$</p>
        <%= link_to 'Edit', edit_booking_path(booking), class: 'btn-edit3' %>
        <%= link_to "X",
                          booking_path(booking),
                          method: :delete,
                          data: { confirm: "Are you sure?" }, class: 'btn-cross' %></p>

      </div>
      <% end %>
  </div>
</div>
