<div class="container">
  <%= simple_form_for @watch, html: { class: "form"} do |f| %>
    <%= f.input :model %>
    <%= f.input :photo, as: :file %>
    <%= f.input :price, as: :numeric %>
    <%= f.input :address, as: :string %>
    <%= f.button :submit %>
  <% end %>
</div>
