<div class="container_form"> 
  <div class="container">
    <%= simple_form_for @watch, html: { class: "form"} do |f| %>
      <%= f.input :model %>
      <%= f.input :photo, as: :file %>
      <%= f.input :price, as: :numeric %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

